<div class="hero">
  <h1>All your lists</h1>

  <div class="list-grid">
      <div class="list-grid-left">

          <%# LIST CARD ---------------------------- %>
          <%= link_to list_path(@lists[0]), class: "list-card-link" do %>
              <div
                class="list-card"

                <% if @lists[0].photo.attached? %>
                  style='background-image: url("<%= cl_image_path @lists[0].photo.key %>");'
                <% end %>>

                  <%= @lists[0].name %>


              </div>
          <% end %>
          <%# LIST CARD END ---------------------------- %>

      </div>

      <div class="list-grid-right-big">

          <%# LIST CARD ---------------------------- %>
          <%= link_to list_path(@lists[1]), class: "list-card-link" do %>
              <div
                class="list-card"

                <% if @lists[1].photo.attached? %>
                  style='background-image: url("<%= cl_image_path @lists[1].photo.key %>");'
                <% end %>>

                  <%= @lists[1].name %>


              </div>
          <% end %>
          <%# LIST CARD END ---------------------------- %>

      </div>

      <div class="list-grid-right-small-1">

          <%# LIST CARD ---------------------------- %>
          <%= link_to list_path(@lists[2]), class: "list-card-link" do %>
              <div
                class="list-card"

                <% if @lists[2].photo.attached? %>
                  style='background-image: url("<%= cl_image_path @lists[2].photo.key %>");'
                <% end %>>

                  <%= @lists[2].name %>


              </div>
          <% end %>
          <%# LIST CARD END ---------------------------- %>

      </div>

      <div class="list-grid-right-small-2">

          <%# LIST CARD ---------------------------- %>
          <%= link_to list_path(@lists[3]), class: "list-card-link" do %>
              <div
                class="list-card"

                <% if @lists[3].photo.attached? %>
                  style='background-image: url("<%= cl_image_path @lists[3].photo.key %>");'
                <% end %>>

                  <%= @lists[3].name %>


              </div>
          <% end %>
          <%# LIST CARD END ---------------------------- %>

    </div>
  </div>

  <div class="list-remaining-lists">
      <% @lists[4..].each do |list| %>

          <%# LIST CARD ELEMENT %>

            <%= link_to list_path(list), class: "list-card-link" do %>
              <div class="list-card"
                    <% if list.photo.attached? %>
                      style='background-image: url("<%= cl_image_path list.photo.key %>");'
                    <% end %>
              >

                <%= list.name %>

              </div>
            <% end %>

          <%# END OF LIST CARD ELEMENT %>

      <% end %>
  </div>
</div>

<h2 class="mt-5">Create a new list:</h2>

<div class="w-50">
  <%= simple_form_for(@list) do |f| %>
    <%= f.input :name %>
    <%= f.input :photo, as: :file %>
    <%= f.submit %>
  <% end %>
</div>
